{{! Author page; this file renders a tag page containing a list of the latest posts }}
{{> head}}
{{> navbar}}
<main>
   
   {{! indicates the author's context }}
   {{#author}}

      {{! author featured image }}
      {{#featuredImage}}
         {{! checks if an image exists }}
         {{#if url}}
            <figure>
               <img
                  src="{{url}}"
                  {{! checks if the Responsive Images option (located in Site Settings -> Website Speed) is enabled  }}
                  {{#if @config.site.responsiveImages}}
                     {{responsiveImageAttributes 'authorImage' srcset sizes}}
                  {{/if}}
                  {{! generates a native loading attribute; if the Media Lazy Load option (located in Site Settings -> Website Speed) is disabled, the loading attribute is not generated  }}
                  {{lazyload "lazy"}}
                  height="{{height}}"
                  width="{{width}}"
                  alt="{{alt}}">

                  {{! checks if a caption and credits exist  }}
                  {{#checkIfAny caption credits}}
                     <figcaption>
                        {{caption}}
                        {{credits}}
                     </figcaption>                      
                  {{/checkIfAny}}
                  {{! /checks if a caption and credits exist  }}
                  
            </figure>
         {{/if}}
         {{! /checks if an image exists }}
      {{/featuredImage}}
      {{! /author featured image }}

      <h1>
         {{name}}
         {{! check if a 'Display post counter' author option is enabled }}
         {{#if authorViewConfig.displayPostCounter}}
            <sup>({{postsNumber}})</sup>
         {{/if}}
         {{! /check if a 'Display post counter' author option is enabled }}
      </h1>

      {{! check if an author description exists }}
      {{#if description}}
         <div> {{{description}}} </div>
      {{/if}}
      {{! /check if a author description exists }}

      {{! check if an author email address exists }}
      {{#if email}}
         <p>{{email}}</p>
      {{/if}}
      {{! /check if a author email address exists }}

      {{! check if an author website URL exists }}
      {{#if website}}
         <p>{{website}}</p>
      {{/if}}
      {{! /check if a author website URL exists }}

   {{/author}}
   {{! /indicates the author's context }}


   {{! loop that generates a list of posts }}
   {{#each posts}}
      {{> postPreview}}
   {{/each}}
   {{! /loop that generates a list of posts }}
   
   {{> pagination}}
</main>
<aside>
   {{> sidebar}}
</aside>

{{> footer}}